body {
  background-color: green;
}

  table, th, td {
  border: 1px solid;
} 

h1 {
  font-family: "Lucida Handwriting", Brush Script MT, Cursive;
}

tr {
  font-family: "Lucida Handwriting", Brush Script MT, Cursive;
}
