body {
  background-color: green;
}

  table, th, td {
  border: 20px solid;
  border-style: solid;
  border-color: white;
} 

h1 {
  font-family: "Brush Script MT", cursive;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  border-style: solid;
  border-color: yellow;
}

tr {
  font-family: "Brush Script MT", cursive;
}
